{% extends 'miniblog/base.html' %}
{% load static %}

{% block title %}
About
{% endblock title %}


{% block content %}
<div>
    <h2 class="text-light my-5"> About Page</h2>
</div>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, ea. Ullam, cum. Animi, vitae minus ratione, deleniti 
    voluptas laboriosam expedita maxime dolorum temporibus nisi corrupti blanditiis eos, et sed saepe.</p>
</div>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores vel eaque praesentium. Qui, odit non cum delectus, 
        velit est ut labore assumenda, dolorum ducimus esse dolores deserunt exercitationem commodi molestiae?</p>
</div>
{% endblock content %}